@charset "utf-8";
body, div, img, dl, dt, dd, ul, li, p, h1, input, h1, h2, h3,form ,table {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none
}

img {
    border: none;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
}/*qqlogin*/
.bggray {
    background: #eee;
}
.login-container {
    width: 290px;
    height:500px;
    margin:0 auto;
    padding-top: 30px;
}
.login-container form {
    width:100%;
}
.login-container .logo {
    width: 244px;
    height: 100px;
    margin: 0 auto 20px auto;
    background: url(../images/shipei_logo.png) no-repeat center center;
}
.login-container ul{
    width: 100%;
    height: 89px;
    background: #fff;
    border-radius: 4px;
}
.login-container ul li {
    height: 44px;
    border-top:1px solid #eaeaea;
}
.login-container ul li:first-child {
    border: none;
}
.login-container ul li input {
    width: 238px;
    box-sizing: border-box;
    padding-left: 12px;
    background: #fff;
    height: 44px;
    line-height: 44px;
    margin:0px 0 0 3px;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #000;
    float: left;
}
[class^="btn-login"] {
    margin: 15px 0;
    text-align: center;
    border-radius: 4px;

    font-size: 16px;
}
.btn-login {
    color: #fff;
    height: 44px;
    line-height: 44px;
    background: #146fdf;
}
.btn-login-onekey {
    color: #146fdf;
    border:1px solid #9abbe3;
    background: #e7e7e7;
    height: 42px;
    line-height: 44px;
    width: 290px;
}
.feedback {
    height: 44px;
    line-height: 44px;
    color:#246183;
    font-size: 14px;
}
.fl {
    float: left;
    display: inline-block;
}
.fr{
    float: right;
    display: inline-block;
}
.login-container ul li input::-webkit-input-placeholder {
    color: #aaa;
}
.login-container ul li input:-ms-input-placeholder {
    color: #aaa;
}
.login-container ul li input::-moz-placeholder {
    color: #aaa;
}
.login-container p {
    width: 48px;
    height: 44px;
    background: url("../images/android_logo_v1.png") no-repeat center center;
    display: none;
    float: right;
}
input::-ms-clear{display: none;}
