@charset "utf-8";
body, div, img, dl, dt, dd, ul, li, p, h1, input, h1, h2, h3,form ,table {
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei';

}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none
}

img {
    border: none;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
}
/*main*/
.body-warper {
    background: #34415f url(../images/bg0.png);
    width: 100%;
    height: 578px;
    min-width: 1240px;
    overflow: hidden;
}

.feature-poster {
    background: url(../images/bg.png) no-repeat  center top;
    width: 100%;
    height: 578px;
}

.masker {
    background: url(../images/bg2.png);
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.curt {
    height: 437px;
    width: 1139px;
    overflow: hidden;
    margin: 0 auto;
}

.attr-box {
    width: 1139px;
    height: 578px;
    margin: 0 auto;
    background: url(../images/wonderwoman.png) no-repeat right top;
    position: relative;
}

.poster-top {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 35px 0 0 30px;
    width: 580px;
}

.poster-top dl {
    border-bottom: 1px solid #666
}

.poster-top dt h2 {
    font-size: 42px;
}

.poster-top dd {
    color: #eee;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    text-indent: 2rem;
}

.poster-top dd a {
    color: #eee;
}

.poster-top dd a:hover {
    color: #136ec2
}

.poster-middle {
    padding-top: 10px;
    position: relative;
    z-index: 1;
    margin: 0 0 0 30px;
}

.secondsknow {
    float: left;
    height: 120px;
    margin-right: 50px;
}

.secondsknow-logo {
    margin: 9px 0 11px;
    width: 84px;
    height: 20px;
    background: url("../images/miaodong.png") no-repeat center center;
}

.secondsknow-gallery {
    float: left;
    padding-right: 100px;
    height: 80px;
    overflow: hidden;
    background: url("../images/miaodong1.png") no-repeat right center;
}

.secondsknow-gallery li,
.preview dd {
    width: 140px;
    height: 80px;
    margin-right: 5px;
    float: left;
    position: relative;
    overflow: hidden;
}

.secondsknow-gallery li img,
.secondsknow-gallery li a,
.preview a,
.preview img {
    display:inline-block;
    width: 140px;
    height: 105px;
}

.video-shadow {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    background: url("../images/hover.png") no-repeat center center;
    opacity: .75;
    cursor: pointer;
    margin: -25px;
}

.video-shadow:hover {
    opacity: 1
}

.preview {
    float: left;
    height: 80px;
    width: 140px;
}

.preview dt {
    font-size: 14px;
    color: #eee;
    line-height: 40px;
}
.audio {
    margin: 10px 0 20px 0;
}
.fimle-info {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;

}

.bluebordertit {
    border-left: 12px solid #4F9CEE;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
}
.bluebordertit span,
.bluebordertit a {
    display: block;
    font-size: 16px;
    color:#666
}
.bluebordertit a{display: inline-block}
.fimle-info th,
.fimle-info td {
    border:1px solid #ddd;
    padding-left: 8px;
    text-align: center;
    height: 32px;
}
.fimle-info th {
    background: #f9f9f9;
}
.backtop {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 46px;
    height: 46px;
    background: url("../images/sideCatalog_a278e02.gif") no-repeat -1px -62px;
}
/*timetable*/

.timetable caption,
.pronouns caption {
    font-size: 40px;
}
.timetable,
.pronouns {
    width: 100%;
    margin:10px 0;
    border:2px solid #ddd;
}
.timetable th,
.timetable td,
.pronouns td {
    border:1px solid #ddd;
    height: 30px;
    text-align: center;
}
.timetable td{
    height: 60px;
}
.bggreen{
    background:#97DB9A;
}
.colred{color:red}
.w80{
    width: 80px;
}
.fri{
    background-color: #DCC48E;
    border: 4px solid #C1437A;
}
/*order*/
.order label{
    margin:0 10px;
}
.order input[type='text'],
.order select,
.order textarea {
    border: 1px solid #ddd;
    width: 200px;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
}
.order li{
    margin-bottom: 20px;
}
.order textarea{
    width: 540px;
    height: 150px;
}
.calculator {
    position: relative;
    margin-bottom: 30px;
}
.calculator fieldset {
    height: 150px;
    border:2px solid purple;
    color:purple;
}
.calculator input[type='number'] {
    height: 30px;
    font-size:14px;
    line-height: 28px;
    text-align: center;
    width: 120px;
    margin:40px 5px 0 5px ;
    color:green;
    border:1px solid green;
}